@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Roboto+Mono:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 10px;
    font-family: sans-serif;
    background-color: #af8959;
    font-family: 'Diphylleia', serif;
    align-items: center;
    text-align: center;
}

header{
    text-align: center;
    padding: 32px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1.5px;
    align-items: center;
    margin-bottom: -35px;
}

header img{
    max-width: 60px;
    display: inline-block;
    margin-bottom: -25px;
}

.menu{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .menu .card {
        width: calc(100% - 20px); /* Largura total para telas menores */
        flex-direction: column;
        margin: auto;
    }
}

.menu .card{
    margin: 10px; /* Espaçamento entre os cards */
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:last-of-type{
    margin-bottom: 25px;
}

.menu img{
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
}

.menu::after{
    content: "";
    width: 100px;
}

.card{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    height: auto;
    display: inline-block;
    background: #ffffffcd;
    box-shadow: 0px 4px 8px 0 #00000033 , 0 6px 20px 0 #00000030;
    align-content: center;
    text-align: center;
    padding: 0.5%;
    margin: 1% auto;
    border-radius: 25px;
}

h2{
    text-align: center;
}

section{
    align-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 25px;
    border-bottom: 2px solid #400B0B;
}

.description{
    text-align: center;
    font-size: 20px;
    margin-bottom: -2px;
    margin: auto;
    margin-top: -2px;
}

.price{
    text-align: center;
    font-size: 15px;
    margin: auto;
}